@model WebApplication1.Models.ConfReg
@{
    ViewBag.Title = "Confs";
}

@using (Html.BeginForm("Confs", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


<div>

    <h4>Заявка на конференцию</h4>
    <hr />
    <div>
        Имя доклада
        <div>
            @Html.EditorFor(model => model.DokladName)
        </div>
    </div>
    <div>
        @Html.DropDownListFor(model => model.FormaUchast, new SelectList(new string[] { "Очная", "Заочная" }), "Форма участия", new { @class="form-control"})

    </div>
    <div>
        <div>
            <input type="file" name="upload" />
        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="Зарегистрироваться" />
            @Html.ActionLink("Вернуться назад", "Index", "Home")
        </div>
    </div>
</div>
}

