@model IEnumerable<WebApplication1.Models.ConfReg>
@{
    ViewBag.Title = "ConfsReg";
}
<h2>
    @foreach (var b in Model.OrderByDescending(d => d.Id))
    {<div>------------------------------------------------</div>
        <div>@b.DokladName</div>
        <div>@b.ConfId</div>
        <div>@b.Status</div>
        @Html.ActionLink("Посмотреть заявку", "EditConfReg", "Admin", new { id = b.Id }, null)
        <div>------------------------------------------------</div>
    }
</h2>