
@{
    ViewBag.Title = "Index";
}
<h1 style="text-align:center">Админ панель v0.1</h1>
<h2>&bull;@Html.ActionLink("Новости", "News", "Admin")</h2>
<h2>&bull;@Html.ActionLink("Конференции", "Confs", "Admin")</h2>
<h2>&bull;@Html.ActionLink("Заявки на ближайшие конференции", "ConfsReg", "Admin")</h2>
<h2>&bull;@Html.ActionLink("Пользователи", "Users", "Admin")</h2>

